<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.king2.commons.mapper.K2RoleParallelismJurisdictionMapper" >
  <resultMap id="BaseResultMap" type="com.king2.commons.pojo.K2RoleParallelismJurisdiction" >
    <id column="parallelism_jurisdiction_id" property="parallelismJurisdictionId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="jurisdiction_id" property="jurisdictionId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    parallelism_jurisdiction_id, role_id, jurisdiction_id, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.king2.commons.pojo.K2RoleParallelismJurisdictionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from k2_role_parallelism_jurisdiction
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from k2_role_parallelism_jurisdiction
    where parallelism_jurisdiction_id = #{parallelismJurisdictionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from k2_role_parallelism_jurisdiction
    where parallelism_jurisdiction_id = #{parallelismJurisdictionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.king2.commons.pojo.K2RoleParallelismJurisdictionExample" >
    delete from k2_role_parallelism_jurisdiction
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.king2.commons.pojo.K2RoleParallelismJurisdiction" >
    insert into k2_role_parallelism_jurisdiction (parallelism_jurisdiction_id, role_id, 
      jurisdiction_id, create_time)
    values (#{parallelismJurisdictionId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{jurisdictionId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.king2.commons.pojo.K2RoleParallelismJurisdiction" >
    insert into k2_role_parallelism_jurisdiction
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parallelismJurisdictionId != null" >
        parallelism_jurisdiction_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="jurisdictionId != null" >
        jurisdiction_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parallelismJurisdictionId != null" >
        #{parallelismJurisdictionId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="jurisdictionId != null" >
        #{jurisdictionId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.king2.commons.pojo.K2RoleParallelismJurisdictionExample" resultType="java.lang.Integer" >
    select count(*) from k2_role_parallelism_jurisdiction
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update k2_role_parallelism_jurisdiction
    <set >
      <if test="record.parallelismJurisdictionId != null" >
        parallelism_jurisdiction_id = #{record.parallelismJurisdictionId,jdbcType=INTEGER},
      </if>
      <if test="record.roleId != null" >
        role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.jurisdictionId != null" >
        jurisdiction_id = #{record.jurisdictionId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update k2_role_parallelism_jurisdiction
    set parallelism_jurisdiction_id = #{record.parallelismJurisdictionId,jdbcType=INTEGER},
      role_id = #{record.roleId,jdbcType=INTEGER},
      jurisdiction_id = #{record.jurisdictionId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.king2.commons.pojo.K2RoleParallelismJurisdiction" >
    update k2_role_parallelism_jurisdiction
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="jurisdictionId != null" >
        jurisdiction_id = #{jurisdictionId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where parallelism_jurisdiction_id = #{parallelismJurisdictionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.king2.commons.pojo.K2RoleParallelismJurisdiction" >
    update k2_role_parallelism_jurisdiction
    set role_id = #{roleId,jdbcType=INTEGER},
      jurisdiction_id = #{jurisdictionId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where parallelism_jurisdiction_id = #{parallelismJurisdictionId,jdbcType=INTEGER}
  </update>
</mapper>